{{ $el := "button" }}
{{ if isset . "el" }}
{{ $el = .el }}
{{ end }}

{{ $defaultClass := "px-2 py-2 mx-2 mb-2 w-32 h-16 rounded-sm inline-flex items-center justify-center"}}
{{ $attrs := merge .attrs (dict "class" (printf "%s %s" $defaultClass .attrs.class)) }}

{{ $btnAttrs := "" }}
{{ range $attrName, $attrValue := $attrs }}
{{ $btnAttrs = printf "%s %s='%s'" $btnAttrs $attrName $attrValue }}
{{ end }}

{{ safeHTML (printf "<%v %v>" $el $btnAttrs) }}
{{ .content }}
{{ safeHTML (printf "</%v>" $el) }}